﻿@model NepalPayementTest.Models.UserTask

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignDate" class="control-label"></label>
                <input asp-for="AssignDate" class="form-control" />
                <span asp-validation-for="AssignDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadlineDead" class="control-label"></label>
                <input asp-for="DeadlineDead" class="form-control" />
                <span asp-validation-for="DeadlineDead" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="taskType" class="control-label"></label>
        <select asp-for="taskType" class="form-control"></select>
        <span asp-validation-for="taskType" class="text-danger"></span>*@
                <label asp-for="TaskType" class="control-label"></label>
                <select asp-for="TaskType" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<TaskType>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="TaskType" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
